/*****************************************************************************/
/*
/* Global elements
/*
/*****************************************************************************/
body {
  padding-bottom: 20px;
}

body > .container {
  margin-bottom: 30px;
}

p {
  line-height: 22px;
}

p.prototype {
  font-family: "Redacted Script";
  color: #999;
}

.navbar {
  margin-bottom: 0px;
}

footer ul {
  display: table-cell;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}


/*****************************************************************************/
/*
/* Thumbnails
/*
/*****************************************************************************/
.thumbnail-preview {
  margin-bottom: 0;
}

/*****************************************************************************/
/*
/* Glyphicons override
/*
/*****************************************************************************/
small .glyphicons,
small .social {
  line-height: 19px;
}

/*****************************************************************************/
/*
/* Widget: Authors
/*
/*****************************************************************************/
.widget-authors {
  min-height: 80px;
}

.widget-authors .widget-author img {
  width: 60px;
  margin-right: 10px;
}

.widget-authors .widget-author a:hover {
  text-decoration: none;
}

.widget-authors .widget-author .author-name {
  font-weight: bold;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.list-posts p {
  font-size: 14px;
  line-height: 20px;
}

.container.posts .post-content ul,
.container.posts .post-content ol,
.container.posts .post-content li {
  font-size: 16px;
  line-height: 22px;
}

/*****************************************************************************/
/*
/* Jumbotrones
/*
/*****************************************************************************/
.jumbotron h1 {
  text-transform: uppercase;
}

.jumbotron p {
  text-align: justify;
  line-height: 29px;
}

/* Jumbotron - Blue */
.jumbotron.blue     { background-color: rgb(93, 169, 221); }
.jumbotron.blue h1  { color: #fff; }

/* Jumbotron - Green */
.jumbotron.green    { background-color: rgb(183, 219, 193); }
.jumbotron.green h1 { color: #fff; }

/* Jumbotron - Red */
.jumbotron.red     { background-color: #d9534f; }
.jumbotron.red h1,
.jumbotron.red h2 { color: #fff; }

/* Jumbotron - Warning */
.jumbotron.warning { margin: 0; padding: 0 0 10px 0; }

/* Jumbotron - Left */
.jumbotron.left h1 { text-align: left; }
.jumbotron.left .glyphicons.grande { float: right; padding-left: 20px; }

/* Jumbotron - Right */
.jumbotron.right h1 { text-align: right; }
.jumbotron.right .glyphicons.grande { float: left; padding-right: 20px; }

/* Jumbotron Glyphicons */
.jumbotron .glyphicons.grande {
  padding: 0;
  margin: 0;
}

.jumbotron .glyphicons.grande::before {
  position: inherit;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 200px;
}

/*****************************************************************************/
/*
/* Syntax Highlighting
/*
/*****************************************************************************/
pre code {
  background: transparent !important;
}

pre.highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #FAFAFB;
}

pre.headers {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  background-color: #f1f1f1;
}

/*****************************************************************************/
/*
/* api.html
/*
/*****************************************************************************/
.container.api h2.title {
  padding-top: 20px;
  position: relative;
}

.container.api h2.title a.anchor {
  position: absolute;
  left: -30px;
  top: 20px;
  opacity: 0;
  padding: 0 5px 0 10px;
  width: 20px;
  color: rgb(51, 51, 51);
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  -moz-transition: opacity 0.3s ease-in-out 0s;
  -ms-transition: opacity 0.3s ease-in-out 0s;
}

.container.api h2.title a.anchor:hover,
.container.api h2.title:hover a.anchor {
  opacity: 1;
  text-decoration: none;
}

.container.api dd {
  margin-left: 14px
}


.container.api .panel {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .container.api .panel.affix {
    position: static;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container.api .panel.affix {
    width: 220px;
    top: 0px;
  }
}

@media (min-width: 1200px) {
  .container.api .panel.affix {
    width: 270px;
    top: 0px;
  }
}

/*****************************************************************************/
/*
/* lisenser.html
/*
/*****************************************************************************/
.container.lisenser .nav-tabs a.glyphicons::before {
  margin: 10px 5px 0 5px;
  font: 18px/1em 'Glyphicons Regular';
}

.container.lisenser .nav-tabs a.glyphicons {
  padding-left: 27px;
}

/*****************************************************************************/
/*
/* stack.html
/*
/*****************************************************************************/
.container.stack .logos div {
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat
}

.container.stack .logos div.node {
  background-image: url('/images/node.png');
}

.container.stack .logos div.mongo {
  background-image: url('/images/mongo.png');
}

.stack .logos div.redis {
  background-image: url('/images/redis.png');
}

