body {
  padding-top: 50px;
  padding-bottom: 20px;
}

body > .container {
  margin-bottom: 30px;
}

footer ul {
  display: table-cell;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

h1, h2, h3, h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h2.glyphicons {
  padding-left: 35px;
}

h2.glyphicons::before {
  margin: 5px 0 0 0;
}

/* Jumbotron */
.jumbotron h1 {
  text-transform: uppercase;
}

.jumbotron p {
  text-align: justify;
}

/* Jumbotron - Blue */
.jumbotron.blue     { background-color: rgb(93, 169, 221); }
.jumbotron.blue h1  { color: #fff; }

/* Jumbotron - Green */
.jumbotron.green    { background-color: rgb(183, 219, 193); }
.jumbotron.green h1 { color: #fff; }

/* Jumbotron - Red */
.jumbotron.red     { background-color: #d9534f; }
.jumbotron.red h1,
.jumbotron.red h2 { color: #fff; }

/* Jumbotron - Warning */
.jumbotron.warning { margin: 0; padding: 0 0 10px 0; }

/* Jumbotron - Left */
.jumbotron.left h1 { text-align: left; }
.jumbotron.left .glyphicons.grande { float: right; padding-left: 20px; }

/* Jumbotron - Right */
.jumbotron.right h1 { text-align: right; }
.jumbotron.right .glyphicons.grande { float: left; padding-left: 20px; }

/* Jumbotron Glyphicons */
.jumbotron .glyphicons.grande {
  padding: 0;
  margin: 0;
}

.jumbotron .glyphicons.grande::before {
  position: inherit;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 200px;
}

/* Syntax Highlighting */
pre code {
  background: transparent !important;
}

pre.highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #FAFAFB;
}

pre.headers {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  background-color: #f1f1f1;
}

/* API documentation */
.container.api h2 {
  padding-top: 50px;
}

.container.api dd {
  margin-left: 14px
}


.container.api .panel {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .container.api .panel.affix {
    position: static;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container.api .panel.affix {
    width: 220px;
  }
}

@media (min-width: 1200px) {
  .container.api .panel.affix {
    width: 270px;
  }
}

/* lisenser.html */
.nav-tabs a.glyphicons::before {
  margin: 10px 5px 0 5px;
  font: 18px/1em 'Glyphicons Regular';
}

.nav-tabs a.glyphicons {
  padding-left: 27px;
}

/* stack.html */
.stack .logos div {
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat
}

.stack .logos div.node {
  background-image: url('/images/node.png');
}

.stack .logos div.mongo {
  background-image: url('/images/mongo.png');
}

.stack .logos div.redis {
  background-image: url('/images/redis.png');
}

