---
layout: api
title: API
class: api
---

<h1>Oversikt</h1>

<p>Denne siden beskriver resursene som til sammen bygger opp det offisielle APIet
for Nasjonal Turbase v1-beta. Hvis du her noen problemer eller andre
forespørsler ikke nøl med å ta kontakt.</p>

<ol>{% for api in site.data.api %}
  <li><a href="#{{ api.anchor }}">{{ api.title }}</a></li>
{% endfor %}</ol>

{% for api in site.data.api %}
  <h2 id="{{ api.anchor }}">{{ api.title }}</h2>
  
  <pre class="request"><code>{{ api.request }}</code></pre>

  {% if api.params %}<h3 class="params">Parametere</h3><dl>{% endif %}
  {% for param in api.params %}
    <dt>{{ param.name }}</dt>
    <dd>
      <em>{{ param.requ }}</em>
      <strong>{{ param.type }}</strong>
      {% if param.desc %} - {{ param.desc }}{% endif %}
    </dd>
  {% endfor %}
  {% if api.params %}</dl>{% endif %}
  
  <h3 class="response">Respons</h3>
  
  <pre class="headers"><code class="language-http">{{ api.response }}</code></pre>
  <pre class="highlight"><code class="language-json">{{ api.data }}</code></pre>
{% endfor %}
