---
layout: api
title: API
byline: Offisiellt REST API for Nasjonal Turbase
class: api
---

<p>Denne siden beskriver resursene som til sammen bygger opp det offisielle APIet
for Nasjonal Turbase v1-beta. Hvis du her noen problemer eller andre
forespørsler ikke nøl med å ta kontakt.</p>

{% for api in site.data.api %}
  <h2 id="{{ api.anchor }}">{{ api.title }}</h2>
  
  <pre class="resource"><code class="http">{{ api.resource }}</code></pre>

  {% if api.params %}<h3 class="params">Parametere</h3><dl>{% endif %}
  {% for param in api.params %}
    <dt>{{ param.name }}</dt>
    <dd>
      <em>{{ param.requ }}</em>
      <strong>{{ param.type }}</strong>
      {% if param.desc %} - {{ param.desc }}{% endif %}
    </dd>
  {% endfor %}
  {% if api.params %}</dl>{% endif %}
  
  {% if api.request %}
    <h3 class="example">Foresp&oslash;rsel</h3>

    <pre class="headers"><code class="http">{{ api.request.headers }}</code></pre>
    <pre class="highlight"><code class="json">{{ api.request.payload }}</code></pre>
  {% endif %}

  <h3 class="response">Respons</h3>
  
  <pre class="headers"><code class="http">{{ api.response }}</code></pre>
  <pre class="highlight"><code class="json">{{ api.data }}</code></pre>
{% endfor %}

