---
layout: frontpage 
title: Nasjonal Turbase
---

<div class="row">
  <div class="col-lg-4">
    <h2 class="glyphicons calendar">Siste oppdateringer</h2>
    {% include posts-latest.html %}
  </div>
  <div class="col-lg-8">{% for panel in site.data.frontpage %}
    {% cycle '<div class="row">', '' %}
      <div class="col-lg-6 col-sm-6">
        <h2 class="glyphicons {{ panel.class }}">{{ panel.title }}</h2>
        <p>{{ panel.desc }}</p>
        <p><a class="btn btn-default" href="{% if panel.link %}{{ site.url }}{{ panel.link }}{% else %}#{% endif %}">Les mer »</a></p>
      </div>
    {% cycle '', '</div>' %}
  {% endfor %}</div>
</div>

