---
layout: frontpage
title: Nasjonal Turbase
---

<div class="row">
  <div class="col-lg-4">
    <h2>
      <span class="glyphicons glyphicons-newspaper"></span>
      Siste oppdateringer
    </h2>
    {% include posts-latest.html %}
  </div>
  <div class="col-lg-8">{% for panel in site.data.frontpage %}
    {% cycle '<div class="row">', '' %}
      <div class="col-lg-6 col-sm-6">
        <h2>
          <span class="glyphicons glyphicons-{{ panel.class }}"></span>
          {{ panel.title }}
        </h2>
        <p class="prototype">{{ panel.desc }}</p>
        <p><a class="btn btn-default" href="{{ panel.link }}">Les mer »</a></p>
      </div>
    {% cycle '', '</div>' %}
  {% endfor %}</div>
</div>
