    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-4">
            <ul>
              <li><a href="#">Vilkår</a></li>
              <li><a href="{{ site.url }}api.html">API</a></li>
              <li><a href="{{ site.url }}kontakt.html">Kontakt</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <p>Denne nettsiden er et offentlig <a href="{{ site.repo }}">Github repo</a>.<br>
              Du kan hjelpe oss å forbedre siden.</p>
          </div>
          <div class="col-lg-4">

            <p>Desgin &copy; {{ site.time | date: "%Y" }} Nasjonal Turbase. Alle
            rettigheter forbeholdt.</p>

            <p>Unntatt der annet er angitt, er innhold på dette nettstedet
            lisensiert under en <a href="http://creativecommons.org/licenses/by/3.0/no/">
              Creative Commons Navngivelse 3.0 Norge lisens</a>.</p>

          </div>
        </div>
      </footer>
    </div> <!-- /container -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>$('a[data-toggle="tooltip"]').tooltip();</script>
  </body>
</html>

