<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.png"> -->
    <link rel="alternate" type="application/rss+xml" title="Siste oppdateringer"
    href="{{ site.url }}/feed.xml" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.cdn }}/lib/glyphicons-pro-1-9/css/glyphicons.css">
    <link rel="stylesheet" href="{{ site.cdn }}/lib/glyphicons-pro-1-9/css/glyphicons-social.css">
    <link rel="stylesheet" href="{{ site.cdn }}/lib/redacted-font/css/redacted.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/highlight.css">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.ga_id }}']);
      _gaq.push(['_gat._anonymizeIp']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% assign submenu = '' %}
            {% assign pages_sorted = site.pages | sort:"url" %}
            {% for p in pages_sorted %}
              {% if p.submenu != submenu %}
                {% unless submenu == '' %}</ul></li>{% endunless %}
                {% if p.submenu %}
                  {% assign submenu = p.submenu %}
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ p.submenu }}<b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                {% else %}
                  {% assign submenu = '' %}
                {% endif %}
              {% endif %}

              {% unless p.url == '/index.html' or p.url == '/feed.xml' or p.hidden == true %}
                {% if page.url == p.url %}
                  <li class="active"><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% else %}
                  <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
              {% endunless %}

            {% endfor %}
            {% unless submenu == '' %}</ul></li>{% endunless %}
          </ul>
          <form class="navbar-form navbar-right" role="login">
            <a href="{{ site.urls.developer_login }}" class="btn btn-primary">
              Logg inn
            </a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    {{ include jumbo-trone.html align="left" color="red" type="warning" }}
