<span class="glyphicons grande white share_alt hidden-xs"></span>

<h1>Turdata for alle</h1>

<p>Nasjonal Turbase skal være Norges nasjonalt platform for å samle, forvalte,
og tilgjengeliggjøre standardiserte friluftslivsdata fra alle aktører som
tilrettelegger for friluftsliv.</p> 

<p>Data fra Nasjonal Turbase er fritt tilgjengelig for bruk og viderebruk av
alle via åpne, maskinlesbare formater. Dataene kan brukes i andre applikasjoner
og tjenester.</p>

<p><a class="btn btn-primary btn-lg" href="/deling.html">Les mer &raquo;</a></p>

