<div class="list-group list-posts">
  {% for post in site.posts limit:6 %}
  <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}"
    class="list-group-item{% if forloop.first %} list-group-item-warning{% endif %}">
    <h4 class="list-group-item-heading">
      {{ post.title }} <small>{{ post.date | date_to_string }}</small>
    </h4>
    <p class="list-group-item-text">
      {{ post.excerpt | remove: '<p class="lead">' | remove: '</p>' }}
    </p>
  </a>
  {% endfor %}
</div>

