---
layout: default
title: Steder (og Hytter)
submenu: Datastandard
---

<h1>Steder (og Hytter)</h1>

<p>Steder er en samling av objekter som har ett punkt i det todimensjonale
planet og derav har en GeoJSON av typen <em>point</em>. Steder er altså en
samling med hytter, fjelltopper, rastepunkter, fiskeplasser, bruker og en haug
med andre punkter av interesse.</p>

<p><strong>API url:</strong> api.nasjonalturbase.no/steder</p>

<p><strong>Endringslogg:</strong> <a
  href="https://github.com/Turistforeningen/www.nasjonalturbase.no/commits/gh-pages/_data/steder.yml">se github.com</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Feltnavn</th>
        <th>Datatype</th>
        <th>Lese</th>
        <th>Skrive</th>
        <th>Beskrivelse</th>
        <th>Kommentar</th>
        <th>ut/sted</th>
        <th>ut/hytte</th>
      </tr>
    </thead>
    <tbody>
    {% for member in site.data.steder %}
      <tr>
        <td>{{ member.name }}</td>
        <td>{{ member.type }}</td>
        <td>{{ member.read }}</td>
        <td>{{ member.write }}</td>
        <td>{{ member.desc }}</td>
        <td>
          {% if member.comment %}{{ member.comment }}{% endif %}
          {% if member.values %}Anbefalte verdier:<br/><ul>{% for val in member.values %}
            <li>{{ val }}</li>
          {% endfor %}</ul>{% endif %}

          {% if member.html %}Anbefalt HTML:<br/><ul>{% for val in member.html %}
            <li>{{ val }}</li>
          {% endfor %}</ul>{% endif %}

        </td>
        <td>{{ member.utsted }}</td>
        <td>{{ member.uthytte }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

