{% include header.html %}

<div class="container {{ page.class }}">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default"
          data-spy="affix"
          data-offset-top="50"
          data-offset-bottom="610">

        <div class="panel-heading"><h3 class="panel-title">API oversikt</h3></div>
        <div class="list-group">{%for api in site.data.api %}
          <a class="list-group-item" href="#{{ api.anchor }}">{{ api.title }}</a>
        {% endfor %}</div>
      </div>
    </div>
    <div class="col-md-9">
      {% include title.html %}
      {{ content }}
    </div>
  </div>
</div>

{% include jumbo-trone.html align="right" color="green" type="partners" %}
{% include footer.html %}

