{% include header.html %}

<div class="container {{ page.class }}">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default" data-spy="affix" data-offset-top="125" data-offset-bottom="579">
        <div class="panel-heading">API oversikt</div>
        <div class="list-group">{%for api in site.data.api %}
          <a class="list-group-item" href="#{{ api.anchor }}">{{ api.title }}</a></li>
        {% endfor %}</div>
      </div>
    </div>
    <div class="col-md-9">
      {% include title.html %}
      {{ content }}
    </div>
  </div>
</div>

{% include jumbo-trone.html align="right" color="green" type="partners" %}
{% include footer.html %}

