---
layout: default
class: posts
---

<div class="row">
  <div class="col-lg-8">
    <ul class="list-inline post-metadata">
      <li class="post-date">
        <span class="glyphicons glyphicons-clock" aria-hidden="true"></span>
        {{ page.date | date_to_string }}
      </li>

      <li class="post-author">
      {% if page.twitter %}
        <a href="https://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a>
      {% else %}
        {{ page.author }}
      {% endif %}
      </li>

      <li class="post-tags">
      {% for tag in page.tags %}
        <span class="label label-primary">{{ tag }}</span>
      {% endfor %}
      </li>
    </ul>

    <div class="post-content">{{ content }}</div>
  </div>
  <div class="col-lg-4">
    <h3>
      <span class="glyphicons glyphicons-newspaper"></span>
      Siste oppdateringer
    </h3>
    {% include posts-latest.html %}
  </div>
</div>

